doctype html
head
    title Изоморф
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="/style.css")
    script(src="/jquery-2.1.4.min.js")
    script(src="/app-compiled.js")
body
    .instruction
        p Введите в поле ниже имя очередной жертвы Роскомнадзора, после чего нажмите кноку "Послать". Результат появится внизу страницы.
        p Если хотите отправить запрос на сервер - наберите в адресной строке&nbsp;
            strong адрес_хоста/?api=имя_жертвы
            br/
            | например http://188.166.62.103:8080/?api=флибусту
    form Роскомнадзор запретил
        input(name="api" value="{INPUT_TEXT}" class="in")
        input(type="submit" class="sent" value="Послать")
    .out {MAIN_TEXT}