html{
    widht:100%; min-height: 100%;
}
body{
    width:960px;
    min-height:100%;
}
.instruction{
    width:100%;

    p {
        font-style: italic;
    }
}
form {
    input{
        display:inline-block;
        margin:10px;
    }
}
.out{}